{% if DEFAULT_PAGINATION %}
<nav>
  <ul class="pager">
    {% if articles_page.has_previous() %}
        <li><a href="{{ SITEURL }}/{{ articles_previous_page.url }}" title="ssd">Previous</a></li>

   {% else %}
        <li class="disabled"><a href="#">Previous</a></li>
    {% endif %}

    {% if articles_page.has_next() %}
        <li><a href="{{ SITEURL }}/{{ articles_next_page.url }}">Next</a></li>
	{% else %}
<li class="disabled"><a href="#">Next</a></li>
    {% endif %}

  </ul>
</nav>
{% endif %}
